[Write Listener]
type=listener
service=Write-Service
protocol=MySQLClient
port=__port
socket=__workdir/write.sock

[Read Listener]
type=listener
service=Read-Service
protocol=MySQLClient
port=__port1
socket=__workdir/read.sock
